<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<div class="container col-md-10 col-md-offset-1" style="background-image: url('/images/confectionary.png')">
  	<div class="page-header">
    	<h1>API DOCS: Reference</h1>
  	</div>

  	<p> Base URL: http://comp120team8reporter.herokuapp.com/v1
  	<br>

  	<h4> Incident </h4>
  	<table class="table table-bordered table-hover">
	    <tr class="info">
	        <td>Method</td>
	        <td>Relative URL</td>
	        <td>Function</td>
	        <td>Required Params</td>
	        <td>Response/Status Code </td>
	        <td style="width:25%">Authentication</td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/incident/all</td>
	        <td>List all Incidents</td>
	        <td></td>
	        <td>200-success</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>DELETE</td>
	        <td>/incident/{id}</td>
	        <td>Delete an incident</td>
	        <td>id (integer)</td>
	        <td>200-success 404-incident not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/incident/{id}</td>
	        <td>Get incidents by id</td>
	        <td>id (integer)</td>
	        <td>200-success 400-incident not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>PUT</td>
	        <td>/incident/{id}</td>
	        <td>update an incident information</td>
	        <td>id (integer), location (string), severity (integer), cate_id (integer), reporter_id (integer)</td>
	        <td>200-success 409-invalid input</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/incident/incident_severity</td>
	        <td>Get incidents by severity</td>
	        <td>severity (integer)</td>
	        <td>200-success 400-incident not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/incident/incident_cate_id</td>
	        <td>Get incidents by category</td>
	        <td>cate_id (integer)</td>
	        <td>200-success 400-incident not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>POST</td>
	        <td>/incident/new</td>
	        <td>Creat an incident</td>
	        <td>location (string), severity (integer), cate_id (integer), reporter_id (integer)</td>
	        <td>200-success 409-invalid input</td>
	        <td></td>
	    </tr>
	</table>
	<br>

	<h4> User </h4>
  	<table class="table table-bordered table-hover">
	    <tr class="info">
	        <td>Method</td>
	        <td>Relative URL</td>
	        <td>Function</td>
	        <td>Required Params</td>
	        <td>Response/Status Code </td>
	        <td>Authentication</td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/user/all</td>
	        <td>List all Users</td>
	        <td></td>
	        <td>200-success</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/user/user_reported_incidents</td>
	        <td>Get reported incidents by username</td>
	        <td>username (string)</td>
	        <td>200-success 400-user not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>GET</td>
	        <td>/user/user_assigned_incidents</td>
	        <td>Get assigned incidents by username</td>
	        <td>username (string)</td>
	        <td>200-success 400-user not found</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>POST</td>
	        <td>/user/new</td>
	        <td>User sign up</td>
	        <td>last_name (string), use_rname (string), phone<sup>*</sup> (string), emailphone<sup>**</sup> (string), group_id (integer), pwphone<sup>***</sup> (string)</td>
	        <td>200-success 409-confict</td>
	        <td></td>
	    </tr>
	    <tr class="active">
	        <td>PUT</td>
	        <td>/user/{id}</td>
	        <td>Update an user information</td>
	        <td>id (integer), last_name (string), use_rname (string), phone<sup>*</sup> (string), email<sup>**</sup> (string), group_id (integer), pw<sup>***</sup> (string)</td>
	        <td>200-success 409-confict</td>
	        <td>200-success 409-conflict</td>
	        <td></td>
	    </tr>
	</table>
	<p>* phone has to be in the correct form (numbers only or with '-' between the numbers or with (area code) before).</p>
	<p>** email has to be in the correct form (e.g. abc@def.ghi)</p>
	<p>*** pw has to be in the correct form (must be between 6 to 50 characters, including letters, numbers and special characters)</p>
	<br>

	<h4> Group </h4>
  	<table class="table table-bordered table-hover">
	    <tr class="info">
	        <td>Method</td>
	        <td>Relative URL</td>
	        <td>Function</td>
	        <td>Required Params</td>
	        <td>Response/Status Code </td>
	        <td>Authentication</td>
	    </tr>	    
	    <tr class="active">
	        <td>GET</td>
	        <td>/group/{id}</td>
	        <td>Get group by id</td>
	        <td>id (integer)</td>
	        <td>200-success 400-group not found</td>
	        <td></td>
	    </tr>
	</table>
	<br>

	<h4> Department </h4>
  	<table class="table table-bordered table-hover">
	    <tr class="info">
	        <td>Method</td>
	        <td>Relative URL</td>
	        <td>Function</td>
	        <td>Required Params</td>
	        <td>Response/Status Code </td>
	        <td>Authentication</td>
	    </tr>	    
	    <tr class="active">
	        <td>GET</td>
	        <td>/department/groups_in_department</td>
	        <td>Get groups in a department by department name</td>
	        <td>department_name (string)</td>
	        <td>200-success 400-department not found</td>
	        <td></td>
	    </tr>
	</table>
	<br>

	<h4> Category </h4>
  	<table class="table table-bordered table-hover">
	    <tr class="info">
	        <td>Method</td>
	        <td>Relative URL</td>
	        <td>Function</td>
	        <td>Required Params</td>
	        <td>Response/Status Code </td>
	        <td>Authentication</td>
	    </tr>	    
	    <tr class="active">
	        <td>GET</td>
	        <td>/category/{id}</td>
	        <td>Get category by id</td>
	        <td>id (integer)</td>
	        <td>200-success 400-categary not found</td>
	        <td></td>
	    </tr>
	</table>
	<br>

	<%= link_to t('.back', :default => t("helpers.links.back")),
                apidoc_menu_path, :class => 'btn btn-default'  %>
</div>