<div class="container col-md-10 col-md-offset-1" style="background-image: url('/images/confectionary.png')">
  	<div class="page-header">
    	<h1>API DOCS: Sample Code</h1>
  	</div>

    <h4> Java </h4>
    <script src="https://gist.github.com/yanhuowang/2fa5c79d57771ae0e2d0.js"></script>
    <br><br>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                apidoc_menu_path, :class => 'btn btn-default'  %>

</div>